{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ],
    [
      "babel-plugin-direct-import",
      {
        "modules": [
          "@mui/lab",
          "@mui/styles",
          "@mui/material",
          "@mui/icons-material",
          "@mui/x-data-grid",
          "@mui/x-date-pickers"
        ]
      },
    ]
  ]
}